$primaryColor: #1976d2;
$mainWhite: #fff;
$offWhite: #f2f2f2;
$mainBlack: #10131a;
$backgroundGrey: #fafafa;
$darkGrey: #707070;
$mainTransition: all 0.3s linear;
$mainSpacing: 0px;
$lightShadow: 0px 3px 10px #00000033;

$extra-small-devices: 400px;
$small-devices: 600px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;

.blog_content {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog_richtextcontent {
  text-align: justify;
  font-size: 16px;
}

.blog_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 354px;
  height: 244px;
}

//  for small mobile style ...
@media only screen and (max-width: $extra-small-devices) {
  .blog_img {
    width: 100%;
  }

  .blog_content {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

// for small tablets and large mobiles style ...
//@media only screen and (min-width: $small-devices)

// for big tablets and little laptops
//@media only screen and (min-width: $medium-devices)

//for laptops and desktops
//@media only screen and (min-width: $large-devices)

//for large laptos and desktops
//@media only screen and (min-width: $extra-large-devices)
