$primaryColor: #1976D2;
$mainWhite: #fff;
$offWhite: #F2F2F2;
$mainBlack: #10131A;
$backgroundGrey: #FAFAFA;
$darkGrey: #707070;
$mainTransition: all 0.3s linear;
$mainSpacing: 0px;
$lightShadow:  0px 3px 10px #00000033;

$extra-small-devices: 400px;
$small-devices: 600px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;   


.contactcard{
    background-color: $primaryColor;
    color: white;
    padding: 3.5rem;
    width: 30%;
} 

h5{
  margin-bottom: 0;
}

p{
    margin-bottom: 1rem; 
}

.social{
    display: flex;
    margin-top: 10px;
}

.circle{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 75%;
    margin-right: 15px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}  


@media screen and (max-width: $small-devices){
    
.contactcard{
    width: 100%;
 }

}

// for small tablets and large mobiles style ...
//@media only screen and (min-width: $small-devices)

// for big tablets and little laptops
//@media only screen and (min-width: $medium-devices)

//for laptops and desktops
//@media only screen and (min-width: $large-devices)

//for large laptos and desktops
//@media only screen and (min-width: $extra-large-devices)
